@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Paweł Dziwura<br />
    Cracow, Poland<br />
    <abbr title="Phone">Phone:</abbr>
    662 232 688
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:paweldziwura1881997@gmail.com">paweldziwura1881997@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:paweldziwura1881997@gmail.com">paweldziwura1881997@gmail.com</a>
</address>