@model IEnumerable<ToDoList.Models.ToDo>

@{
    ViewBag.Title = "Index";
}

<h2>ToDo List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="tableDiv"></div>

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Custom_Script/BuildToDo.js"></script>
    }